:root {
    --white: #ffffff;
    --black: #111111;
    --grey: #343a40;

    --primaryFont: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1, h2, h3 {
    font-weight: 900;
    line-height: 1.2;
    margin: 1rem 0 4rem 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn {
    color: var(--grey);
    background-color: var(--white);
    border: 1px solid var(--grey);
    padding: .5rem 2rem;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--grey);
    color: var(--white);
}

/* Utilities */
.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}


/* Header */
.header {
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 5rem 0;
}

@media (min-width: 768px) {
    .header {
        background-position: bottom center;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    height: calc(60rem - 4rem);
    justify-content: space-between;
    color: var(--white);
}

.site-name {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .site-name {
        font-size: 5rem;
    }
}   

.site-name span {
    font-weight: 900;
}

@media (min-width: 768px) {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: last baseline;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .contact {
        align-items: flex-end;
    }
}

.telephone {
    display: flex;
    padding-right: 2rem;
}

.telephone::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1rem;
}

.header a {
    color: var(--white);
    font-size: 2rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .navigation {
        flex-direction: row;
    }
}

.navigation a {
    padding: .5rem;
    transition: background-color .3s;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .navigation a {
        padding: 1rem 2rem;
    }
}

.navigation a:hover {
    background-color: rgb(255, 255, 255, .5);
    color: var(--black);
}

.slogan {
    text-align: center;
}

@media (min-width: 768px) {
    .slogan {
        text-align: right;
        padding-right: 2rem;
    }
}

.slogan h1 {
    font-size: 3rem;
    margin: 0;
}

@media (min-width: 768px) {
    .slogan h1 {
        font-size: 5rem;
    }
}

.slogan p {
    line-height: 1;
}


/* About */
.about {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 110rem;
    background-size: contain;
}

@media (min-width: 768px) {
    .about {
        grid-template-columns: repeat(3, 1fr);
        background-size: 80%;
        background-position: center bottom;
        height: 90rem;
    }
}

.about-content {
    background-color: var(--white);
    padding: 5rem;
}

@media (min-width: 768px) {
    .about-content {
        grid-column: 2 / 4;
        padding: 15rem 0 10rem 10rem;
        translate: 0 -5rem;
    }
}

.about-content h2,
.about-content p {
    margin-bottom: 1rem;
}


/* Models */
.model {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    margin-bottom: 5rem;
}

.model:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .model {
        grid-template-columns: repeat(2, 1fr);
    }
}

.model-content {
    padding: 5rem;
    background-color: var(--white);
}

.basic {
    background-image: url(../img/model-basic.jpg);
}

@media (min-width: 768px) {
    .basic {
        background-position: center right;
        background-size: 70%;
    }

    .basic .model-content {
        grid-row: 2 / 3;
        padding: 5rem 5rem 5rem 0;
    }
}

.premier {
    background-image: url(../img/model-premier.jpg);
}

@media (min-width: 768px) {
    .premier {
        background-position: top left;
        background-size: 70%;
    }

    .premier .model-content {
        grid-column: 2 / 3;
        padding: 5rem 0 5rem 5rem;
    }
}

.elite {
    background-image: url(../img/model-elite.jpg);
}

@media (min-width: 768px) {
    .elite {
        background-position: top right;
        background-size: 70%;
    }

    .elite .model-content {
        grid-column: 1 / 2;
        padding: 5rem 5rem 5rem 0;
    }
}